$initial: #837bc9;
$second: #7a6cd4;
$third: #6651c2;
$fourth: #5a48c0;
$fifth: #4738ce;
$sixth: #3c29b4;
$seventh: #251796;
$eighth: #100077;
$ninth: #000d56;
$background: #00050d;
$background2: #6c757d;
$black: #000000;
$complementary: #99ff6a;
$white: #ffffff;
// @media (prefers-color-scheme: dark) {
//     $initial: #212529;
//     $second: #343a40;
//     $third: #495057;
//     $fourth: #6c757d;
//     $fifth: #adb5bd;
//     $sixth: #ced4da;
//     $seventh: #dee2e6;
//     $eighth: #e9ecef;
//     $ninth: #f8f9fa;
//     $black: #ffffff;
//     $background: #000;
//     $complementary: #99ff6a;
// }

:export {
    initial: $initial;
    second: $second;
    third: $third;
    fourth: $fourth;
    fifth: $fifth;
    sixth: $sixth;
    seventh: $seventh;
    eighth: $eighth;
    ninth: $ninth;
    background: #f1f1f1;
    black: $black;
    complementary: $complementary;
}