$initial: #7f08bf;
$second: #6b06ad;
$third: #57049b;
$fourth: #420288;
$background: #2e0076;
$black: #000;
@media (prefers-color-scheme: dark) {}

:export {
    initial: $initial;
    second: $second;
    third: $third;
    fourth: $fourth;
    background: $background;
    black: $black;
}