$initial: #e2dfff;
$second: #c8bfff;
$third: #b09eff;
$fourth: #907cff;
$fifth: #6b5cef;
$sixth: #5441ce;
$seventh: #3525af;
$eighth: #130090;
$ninth: #0e0090;
$background: #f1f1f1;
$black: #000000;
$complementary: #99ff6a;
$white: #ffffff;
// @media (prefers-color-scheme: dark) {
//     $initial: #212529;
//     $second: #343a40;
//     $third: #495057;
//     $fourth: #6c757d;
//     $fifth: #adb5bd;
//     $sixth: #ced4da;
//     $seventh: #dee2e6;
//     $eighth: #e9ecef;
//     $ninth: #f8f9fa;
//     $black: #ffffff;
//     $background: #000;
//     $complementary: #99ff6a;
// }

:export {
    initial: $initial;
    second: $second;
    third: $third;
    fourth: $fourth;
    fifth: $fifth;
    sixth: $sixth;
    seventh: $seventh;
    eighth: $eighth;
    ninth: $ninth;
    background: #f1f1f1;
    black: $black;
    complementary: $complementary;

}