


$initial: #f8f9fa;
$second: #e9ecef;
$third: #dee2e6;
$fourth: #ced4da;
$fifth: #adb5bd;
$sixth: #6c757d;
$seventh: #495057;
$eighth: #343a40;  
$ninth: #212529;
$black: #000000;

:export {
    initial: $initial;
    second: $second;
    third: $third;
    fourth: $fourth;
    fifth: $fifth;
    sixth: $sixth;
    seventh: $seventh;
    eighth: $eighth;
    ninth: $ninth;
    black: $black;
}



