@import "@styles/index.scss";

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    gap: 0.2rem;
    position: relative;

    .eye {
        position: absolute;
        right: 20px;
        top: 50%;
        cursor: pointer;

        * {
            fill: $ninth;
        }
    }

    input {

        background-color: transparent;
        background-color: white;

        border-radius: 10px;
        padding: 15px 10px;
        width: 100%;
        border: 1px solid $eighth;
        color: $black;

        &::placeholder {
            color: rgb($black, 0.8);
        }

        &:disabled {
            filter: grayscale(1);
            background: #33333311;
            cursor: not-allowed;
        }
    }

    .error {
        color: red;
        text-align: right;
        font-size: 12px;
        height: 1rem;
        margin: 2px auto 0 5px;
    }
}



.container {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
    position: relative;




    label {
        font-size: 1.125rem;
        font-weight: bold;
        width: 100%;
        font-weight: 600;
        font-size: 12px;
    }

    .input {
        resize: none;
        display: flex;
        padding: 15px 20px;
        gap: 10px;
        color: $black;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        width: 100%;
        border-radius: 19px;

        &::placeholder {
            color: rgb($black, 0.8);
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}