@import '@styles/index.scss';

.main {
    background: $background;
    color: $white;
    min-height: 100%;

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            width: min(90%, 400px);
        }
    }

    .container {
        display: flex;
        flex-direction: column;

        .card {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            &__title {
                font-size: 1.5rem;
                font-weight: 700;
                margin: 0px 0px 0px 20px;
            }

            ::-webkit-scrollbar {
                display: none;
            }

            ::-webkit-scrollbar-thumb {
                display: none;
            }

            .languages {
                display: flex;
                overflow: scroll;
                padding: 10px 0px;
            }
        }

        .media {
            display: flex;
            flex-direction: column;
            gap: 10px;


            .carrossel {

                h4 {
                    margin: 10px;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                ::-webkit-scrollbar {
                    display: none;
                }

                .contents {
                    display: flex;
                    overflow: scroll;
                    padding: 5px 20px;

                }


            }
        }
    }
}