@import '@styles/index.scss';

.main {
    background: $background;
    color: $white;
    min-height: 100%;
    padding: 10px 0px 100px;

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            width: min(90%, 400px);
        }
    }

    .container {
        display: flex;
        flex-direction: column;



        .media {
            display: flex;
            flex-direction: column;
            gap: 10px;

        }

        .carrossel {
            padding: 0px 20px;

            h4 {
                margin: 10px 30px;
                font-size: 1.5rem;
                font-weight: 700;
            }

            ::-webkit-scrollbar {
                display: none;
            }

            .contents {
                display: flex;
                overflow-x: scroll;
                padding: 5px 20px;
            }
        }

    }
}

@media (min-width: $mobile-size) {
    .main {
        .header {
            display: none;
        }
    }
}

@media (max-width: $mobile-size) {
    .main {
        zoom: 0.8;
    }
}