@import "@styles/index.scss";

.main {
    height: 100dvh;
    width: 100dvw;
    background: $background;
    position: relative;

    .header {
        position: absolute;
        height: 100px;
        width: 100px;
        top: 20px;
        right: 20px;
        z-index: 10000;
    }
}