@import "@styles/index.scss";

.form {
    width: 100%;
    max-width: 400px;
    z-index: 1;

    .buttons {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &__group {

            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }

    .select {
        max-width: 200px;
    }

    .logout {
        background-color: $ninth;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin: 20px auto;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: white;
        }
    }
}