@import "@styles/index.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: $background;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $initial;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
    color: $second;
    margin-bottom: 1rem;
  }
}