@import '@styles/index.scss';

.title {
    &__box {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 20px;
        padding: 0px;
        width: fit-content;
        min-width: 320px;
        border-radius: 10px;
        overflow: hidden;

    }

    &__back {
        padding: 0px 25px 0px 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        border: none;
        border-right: 1px outset $black;
        width: fit-content;
        margin-right: 10px;


        &:hover {
            span {
                color: $initial;
            }
        }

        span {
            font-size: 30px;
            font-weight: 700;
            color: $black;
            line-height: 40px;
            height: 100%;

        }
    }

    &__text {
        font-size: 30px;
        font-weight: 700;
        color: $black;
        line-height: 40px;
    }
}